.hosted-on-rpi-footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.hosted-on-rpi-footer h3 {
    margin-right: 10px; /* Add space between the image and the heading */
}

img {
    height: 2.5em; /* Set the height of the image to match the font size of the h3 */
    margin-right: 5px; /* Add some space between the image and the text */
}